body {
    margin: 0;
    font-family: 'Caveat', cursive;
    background-color: #EADBC8;
}

html{
    scroll-behavior: smooth;
}

a{
    display: inline-block;
    position: relative;
    color: #102C57;
    text-decoration: none;
}
h1{
    font-size: 1.75rem;
}
h2{
    font-size: 2rem;
    font-weight: bold;
}
li{
    font-size: 1.5rem;
    line-height: 1.5;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #DAC0A3;
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    height: 8vh;
}
.nav-brand {
    font-size: 50px;
    color: #102C57;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-links {
    display: flex;
    list-style-type: none;
    height: 5vh;
    align-items: center;
}
.nav-links li {
    margin: 0 50px;
    font-size: 1.75rem;
}
.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#profile{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #102C57;
    padding: 40px;
}
#profile > *{
    padding: 20px;
}
.section_pic-container{
    margin: 0px;
}
.profile-pic{
    height: 70vh;
    border-radius: 100%;
    -webkit-filter: grayscale(100%);
    transition: filter 1s, border-radius .5s ease;
}
.profile-pic:hover{
    filter: grayscale(0%);
    border-radius: 100px;
}

.section_text{
    text-align: center;
    height: 328.89
}
.section_text_p1{
    font-size: 2rem;
}
.section_text_p2{
    font-size: 2rem;
}

.section_links{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.section_links a:visited{
    color: #102C57;
}
.section_link1{
    text-decoration: none;
    display: inline-block;
}
.section_link1 img{
    width: 25px;
    height: 25px;
}
.section_link2 img{
    width: 25px;
    height: 25px;
}
.centered-content {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}
.section_link2{
    text-decoration: none;
}


#about{
    color: #102C57;
    padding: 10vh;
    height: 100%;
}
.section2_text_p1{
    font-size: 5rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-align: center;
}
.about-me-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me-text{
    font-size: 3rem;
    max-width: 850px;
    padding:20px;
    margin: 0;
    text-align: center;
}

#about img{
    -webkit-box-shadow: 0px 8px 56px 14px #000000; 
    box-shadow: 0px 8px 56px 14px #000000;
}
#about-image1{
    padding-top: 120px;
    padding-bottom: 120px;
}
#about-image1 h1{
    text-align: left;
    max-width: 459px;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right:28.688px;
    
}
.col-image1{
    display: flex;
    -webkit-box-shadow: 0px 8px 56px 14px #000000; 
    box-shadow: 0px 8px 56px 14px #000000;
    height: 350px;
}
.col-image2 img{
    height: 670px;
    width:466px;
}
.col-image3 img{
    height: 670px;
    width:466px;
}
.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}
.row {
    display: flex;
}
.row [class^="col"] {
    float: left;
    margin: 8px 2% 40px;
    min-height: 2px;
}
.col-text{
    width: 37.66%;
}
.col-text li{
    list-style-type: none;
}
.col-2-hidden{
    width: 12.66%;
}
.col-3-hidden{
    flex-grow: 1;
}
#experience{
    height: 85vh;
}


@media (max-width: 1075px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
        height: auto;
    }
    
    .nav-brand {
        font-size: 35px;
    }
    
    .nav-links {
        flex-direction: column;
        width: 100%;
        display: none; /* Hide by default */
    }

    .nav-links.active {
        display: flex; /* Show when active */
        width: 35vh;
        padding-left: 400px;
        height: auto;
    }

    .nav-links li {
        margin: 10px 0;
    }
    .profile-pic {
        height: 55vh; /* Decrease profile picture size */
    }
    .section_text_p1 {
        font-size: 1.5rem; /* Decrease font size */
    }
    .section_text_p2 {
        font-size: 1.5rem; /* Decrease font size */
    }
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me-text {
        font-size: 1.5rem; /* Decrease font size */
    }
    .container {
        width: 100%; /* Make container full width */
        padding: 0 20px; /* Add padding to container */
    }
    .row [class^="col"] {
        margin: 8px 0 40px; /* Adjust margin */
        width: 100%; /* Make columns full width */
        float: none; /* Remove float */
    }
    .col-text {
        width: 100%; /* Make text column full width */
    }
    .section_links {
        flex-direction: column; /* Change direction to column */
        align-items: center; /* Center items */
    }
    .section_links a {
        margin: 10px 0; /* Adjust margin */
    }
    .row{
        flex-direction: column;
        align-items: center;
        width: 459px;
    }
    #about-image2 .container .row{
        flex-direction: column-reverse;
    }

}


/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    padding-right: 50px;
    padding-top: 5px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #102C57;
    margin: 4px 0;
    transition: all 0.3s ease;
}

@media (max-width: 1082px) {
    .hamburger {
        display: flex;
    }
}

@media (max-width: 725px){
    #profile > *{
        outline: 2px solid black;
    }
    #profile{
        flex-direction: column;
    }
    #about{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 1;
    }
    .profile-pic{
        height: 40vh;
    }
    .nav-links.active {
        display: flex; /* Show when active */
        width: 25vh;
        padding-left: 200px;
    }
}

@media(max-height: 600px){
    .section_pic-container{
        margin-top: 8vh;
        padding: 20px;
    }
}