body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #3C5B6F;
}


.container {
    display: flex;
    height: 100vh;
}
.content-left, .content-right {
    flex: 1;
    border: 1px solid #ccc; /* Just for demonstration */
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #153448;
    padding: 10px 20px;
}

.nav-brand {
    font-size: 20px;
    font-weight: bold;
    color: #DFD0B8;
    display: flex;
    align-items: center;
    
}

.nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 10;
}

.nav-links li {
    margin: 0 50px;
    font-size: large;
}

.nav-links a {
    color: #DFD0B8;
    text-decoration: none;
    transition: font-weight .5s ease; /* Add transition for font size */
}

.nav-links a:hover {
    font-weight: bold;
}