body {
    margin: 0;
    font-family: 'Caveat', cursive;
    background-color: #EADBC8;
}

html{
    scroll-behavior: smooth;
}

a{
    display: inline-block;
    position: relative;
    color: #102C57;
    text-decoration: none;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #DAC0A3;
    padding: 10px 20px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
    height: 8vh;
}
.nav-brand {
    font-size: 50px;
    color: #102C57;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-links {
    display: flex;
    list-style-type: none;
    height: 5vh;
    align-items: center;
}
.nav-links li {
    margin: 0 50px;
    font-size: 1.75rem;
}
.nav-links a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#profile{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #102C57;
}
.profile-pic{
    height: 70vh;
    border-radius: 100%;
    -webkit-filter: grayscale(100%);
    transition: filter 1s, border-radius .5s ease;
    padding: 2.5rem;
}
.profile-pic:hover{
    filter: grayscale(0%);
    border-radius: 100px;
}

.section_text{
    text-align: center;
}
.section_text_p1{
    font-size: 2rem;
}
.section_text_p2{
    font-size: 2rem;
}

.section_links{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.section_links a:visited{
    color: #102C57;
}
.section_link1{
    text-decoration: none;
    display: inline-block;
}
.section_link1 img{
    width: 25px;
    height: 25px;
}
.section_link2 img{
    width: 25px;
    height: 25px;
}
.centered-content {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
}
.section_link2{
    text-decoration: none;
}


#about{
    height: auto;
    color: #102C57;
    padding: 10vh;
}
.section2_text_p1{
    font-size: 5rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-align: center;
}